<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body background = "{% static 'images/joseph-chan-sBc8oen_ocg-unsplash.jpg' %}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light row justify-content-center sticky-top">
            <a href="{% url 'story5ltoApp:profil' %}">
                <p style="font-size: 2vw" class="btn-sm my-2 text-black-50">Profil</p> 
            </a>
            <a href="{% url 'story5ltoApp:Pengalaman' %}">
                <p style="font-size: 2vw" class="btn-sm my-2 text-black-50">Pengalaman</p> 
            </a>
            <a href="{% url 'story5ltoApp:Keahlian' %}">
                <p style="font-size: 2vw" class="btn-sm my-2 text-black-50">Keahlian</p> 
            </a>
            <a href="{% url 'story5ltoApp:Kontak' %}">
                <p style="font-size: 2vw" class="btn-sm my-2 text-black-50">Kontak</p> 
            </a>
            <a href="{% url 'story5ltoApp:pageTambahan' %}">
                <p style="font-size: 2vw" class="btn-sm my-2 text-black-50">Page Tambahan</p> 
            </a> 
            <a href="{% url 'story5ltoApp:jadwal' %}">
                <p style="font-size: 2vw" class="btn-sm my-2 text-black-50">Jadwal</p> 
            </a> 
    </nav>
    <h1 style="font-size: 4.8vw" class="d-flex justify-content-center bg-light">Selamat Datang di Website ku!!!</h1>
    <img class= "rounded-circle" src="{% static 'images/image (1).png' %}" alt="maap" width="25%">
    <h1 style="font-size: 4.8vw" class="text-white">About Me!</h1>
    <P style="font-size: 2vw" class="bg-light">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
         Lorem Ipsum has been the industry's standard dummy text ever since the 
         1500s, when an unknown printer took a galley of type and scrambled it to 
         make a type specimen book. It has survived not only five centuries, but 
         also the leap into electronic typesetting, remaining essentially unchanged. 
         It was popularised in the 1960s with the release of Letraset sheets 
         containing Lorem Ipsum passages, and more recently with desktop publishing
         software like Aldus PageMaker including versions of Lorem Ipsum.
    </P>
</body>
</html>