<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jadwal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body background = "{% static 'images/joseph-chan-sBc8oen_ocg-unsplash.jpg' %}">
    <div class="card-body m-5">
        <h1 style="font-size: 4.8vw" class="d-flex justify-content-center text-white">Jadwal</h1><br>
        <form method="POST" action="{% url 'story5ltoApp:tambah' %}">
            {% csrf_token %}
            <h2 style="font-size: 2.4vw"class="text-white">Tambahkan jadwal</h2>
            <div class="form-group">
                <label style="font-size: 1vw" for="namaKegiatan" class="text-white">Nama kegiatan</label>
                {{ form.namaKegiatan }}
            </div>

            <div class="form-row">
            <div class="form-group col">
                <label style="font-size: 1vw" for="tanggal" class="text-white">Tanggal</label>
                {{ form.tanggal }}
            </div>
            <div class="form-group col">
                <label style="font-size: 1vw" for="jam" class="text-white">Jam</label>
                {{ form.jam }}
            </div>
            </div>

            <div class="form-group">
                <label style="font-size: 1vw" for="tempat" class="text-white">Tempat</label>
                {{ form.tempat }}
            </div>

            <div class="form-group">
                <label style="font-size: 1vw" for="kategori" class="text-white">Kategori</label>
                {{ form.kategori }}
            </div>

            <button style="font-size: 1vw" type="submit" class="btn btn-secondary mt-2 mr-2 mb-2">Submit</button>
            <button style="font-size: 1vw" type="reset" class="btn btn-secondary m-2">Reset</button>

        </form>
        <ul class="list-group">
                <li class="list-group-item active">Jadwal</li>
                {% for i in list_jadwal %}
                        <li class="list-group-item">{{ i.namaKegiatan }} | {{ i.tanggal }} | {{ i.jam }} | {{ i.tempat }} | {{ i.kategori }}
                                <a href="{% url 'story5ltoApp:hapus' i.id %}"><button style="font-size: 1vw" class="btn btn-danger ">Hapus</button></a>
                {% endfor %}
              </ul>
        <a href="{% url 'story5ltoApp:Homepage' %}">
            <button style="font-size: 1vw" class="m-5 btn btn-secondary" type="button"><span ></span>Back</button>
        </a>
        
    </div>
    </body>
</html>