<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kontak</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>

<body background = "{% static 'images/joseph-chan-sBc8oen_ocg-unsplash.jpg' %}">
    <div class="card-body">
        <div class="card-body bg-light m-5 d-flex justify-content-center">
            <h1 style="font-size: 4.8vw">Contact me!!!</h1>
            <a href="https://www.instagram.com/sulthanzahrans/">
                <img class="img-fluid" src="{% static 'images/contact icon/instagram-icon-black-and-white-png-7.jpg' %}" class="rounded float-left">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100007920976637" class="rounded float-center">
                <img class="img-fluid" src="{% static 'images/contact icon/icon-02-512.png' %}">
            </a>
            <a href="https://twitter.com/zahran0709">
                <img class="img-fluid" src="{% static 'images/contact icon/twitter-icon-png-black-13.jpg' %}" class="rounded float-center">
            </a>
        </div>
        <button style="font-size: 2vw" class="m-5 btn btn-secondary" type="button" onclick="javascript:history.back()"><span ></span>Back</button>
    </div>

</body>
</html>