<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pengalaman</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body background = "{% static 'images/joseph-chan-sBc8oen_ocg-unsplash.jpg' %}">
    <div class="card-body bg-light m-5">
        <h1 style="font-size: 4.8vw" class="">Pengalaman</h1>
        <div class="d-flex justify-content-center">
            <div class="card-body bg-secondary col-lg-4 d-flex">
                <h2 style="font-size: 2.4vw"class="mr-3">Organisasi</h2>
                <P style="font-size: 2vw">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 
                    1500s, when an unknown printer took a galley of type and scrambled it to 
                    make a type specimen book.
                </P> 
            </div>
            <div class="card-body bg-secondary ml-5 col-lg-4 d-flex ">
                <h2 style="font-size: 2.4vw" class="mr-3">Kepanitiaan</h2>
                <P style="font-size: 2vw">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 
                    1500s, when an unknown printer took a galley of type and scrambled it to 
                    make a type specimen book.
                </P> 
            </div>
        </div>
        <button style="font-size: 2vw" class="m-5 btn btn-secondary" type="button" onclick="javascript:history.back()"><span ></span>Back</button>
    </div>

</body>
</html>